#AboutMe {
    height: 100vh;
    width: 100vw;

    background-color: black;
    color: #9D9C9C;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100vh;
    text-align: center;
}



#Fire {
    height: 100vh;
    width: calc(25vw + 10vh);
    grid-column: 1/2;
}


#Text {
    margin: auto;
    padding-right: 5%;
    grid-column: 2/3;

    max-height: 90%;
    width: 90%;

    font-size: calc(0.9vw + 1vh);

    word-break: break-word;

    line-height: 1;
    letter-spacing: 2px;
    word-spacing: 3px;

    box-sizing: border-box;
}

.Introduction {
    position: center;
}

ul {
    font-size: 0.9em;
    text-align: right;
}

li {
    text-align: left;
}