.Home  {

    display: grid;
    grid-template-rows: 2fr 60% 4fr;
    grid-template-columns: repeat(2,1fr);

    height: 100vh;
    width: 100vw;
    background-image: url("../photos/Homepagephoto.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 700px) {
    .Home {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 50% 4fr;
    }
}

#Icons {
    width: 100vw;
    height: 64px;
    margin-top: 30px;
    text-align: right;
}


#Name {
    color: white;
    grid-row: 3/4;
    grid-column: 1;
    font-size : 45px;
    margin-left: 4%;
    margin-top: 5%;

}