.Home  {

    display: grid;
    grid-template-rows: 2fr 60% 4fr;
    grid-template-columns: repeat(2,1fr);

    height: 100vh;
    width: 100vw;
    min-height: 650px;
    background-image: url("../photos/Homepagephoto.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Icons {
    width: 100vw;
    height: 64px;
    margin-top: 20px;
    text-align: right;
}


#Name {
    color: white;
    grid-row: 3/4;
    grid-column: 1;
    font-size : 45px;
    margin-left: 4%;
    margin-top: 6%;
}