.Icon {
	box-sizing: border-box !important;
	height: 60px;
	margin: 15px;
	font-size: 35px;
}

.Homepage {
	color: black;
}

.ProjectIcon {
	color: white;
	/* font-size: calc(1.4vw + 2.8vh) !important; */
}
@media only screen and (min-width: 360px) and (max-width: 760px){
  .Icon{
    font-size: 25px;
    margin: 5px;
  }
}