.Icon {
	box-sizing: border-box !important;
	height: 60px !important;
	margin: 15px !important;
	font-size: 35px !important;
}

.Homepage {
	color: black;
}

.ProjectIcon {
	color: white;
	/* font-size: calc(1.4vw + 2.8vh) !important; */
}
