#Projects {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0 5%;

	background-color: #141414;
}
#SwitchProjectsButtons {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	width: 18vw;
	height: 100%;
	/* background-color: red; */
	margin-right: 20px;
}
#SwitchProjectsButtons .ProjectIconContainer {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 180px;
	overflow: hidden; /* Ukrycie nadmiarowych elementów */
	border-radius: 24px;
	background-color: #232323; /* Domyślny kolor */
	cursor: pointer;
}

#SwitchProjectsButtons .ProjectIconContainer h3 {
	z-index: 2; /* Tekst nad paskiem ładowania */
	color: white; /* Kontrastowy kolor tekstu */
}

#SwitchProjectsButtons .ProjectIconContainer .progress-bar {
	z-index: 1; /* Pasek pod tekstem */
	position: absolute;
	top: 0;
	left: 0;
	width: 0%; /* Pasek ładowania zaczyna od zera */
	height: 100%;
	background-color: #585858; /* Kolor paska ładowania */
	transition: width 1s linear; /* Płynne przejście podczas ręcznej zmiany */
}

#SwitchProjectsButtons .ProjectIconContainer.animate .progress-bar {
	animation: fill-bar 8s linear forwards; /* Animacja wypełniania w 10 sekund */
}
#SwitchProjectsButtons .ProjectIconContainer:hover{
  background-color: #333333;
}

@keyframes fill-bar {
	0% {
		width: 0%; /* Start */
	}
	100% {
		width: 100%; /* Koniec */
	}
}
.ProjectIconContainer .image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 35%;
	height: 100%;
}
.ProjectIconContainer .ProjectName {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 75%;
	height: 100%;
}
.ProjectIconContainer .ProjectName h3 {
	color: black;
	font-size: 24px;
}
.ProjectIconContainer .image {
	width: 64px;
	height: 64px;
	background-color: red;
}
@media (max-width: 700px) {
	#RightButton {
		width: 35px;
		height: 35px;
	}
	#RightIcon {
		font-size: 35px;
	}

	#LeftButton {
		width: 35px;
		height: 35px;
	}
	#LeftIcon {
		font-size: 35px;
	}
}
