#TimeLineExpArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(20, 20, 20, 1);
}
#TimeLineExpArea p {
	color: white;
	font-size: 44px;
}
div.tl-timeline {
	display: flex;
	flex-direction: column-reverse;
	background-color: rgba(20, 20, 20, 1) !important;
}
.tl-slider-container-mask {
	background-color: rgba(20, 20, 20, 1) !important;
	color: white;
}
.tl-headline {
	margin-top: 20px !important;
	color: white !important;
}
.tl-slidenav-icon {
	color: white !important;
}
.tl-timenav {
	overflow-x: auto !important;
	overflow-y: hidden !important;
	background-color: rgba(20, 20, 20, 1) !important;
	scrollbar-width: thin !important;
}
.tl-timemarker {
	background-color: rgba(20, 20, 20, 1) !important;
}

.tl-timegroup {
	background-color: rgba(20, 20, 20, 1) !important;
}
.tl-timegroup-alternate {
	background-color: rgb(32, 32, 32) !important;
}
.tl-timegroup-message {
	z-index: 10000;
	color: white !important;
	text-shadow: none !important;
}
.tl-timemarker-text .tl-headline {
	color: rgba(20, 20, 20, 1) !important;
}
.tl-timemarker {
	background-color: aqua;
}
.tl-timemarker-active {
	background-color: aqua;
}
.tl-timemarker-timespan {
	background-color: aqua;
}
