@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

#app {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	font-weight: normal;
	font-family: 'Archivo', sans-serif !important;
	font-optical-sizing: auto;
}
