@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#app {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	max-width: 100vw;
	max-height: 100vh;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
}
